body {
  background-color: hsl(185, 75%, 39%);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Kumbh Sans', sans-serif;
}

.footer-text{
  font-size: 9px;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

#container {
  /* background-color: hsl(185, 75%, 39%); */
}

#top-left-corner {
  display: inline-block;
  position: absolute;
  top: -500px;
  left: -250px;
}

#bottom-right-corner {
  display: inline-block;
  position: absolute;
  right: -200px;
  bottom: -600px;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.location {
  font-size: 12px;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  padding-top: 8px;
}

.profile-card {
  border-radius: 20px;
  height: 375px;
  width: 350px;
  position: absolute;
  top: 200px;
  left: 600px;

  /* height: 100%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.profile-name {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  position: relative;
  bottom: 60px;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.profile-text {
  text-align: center;
  position: relative;
  bottom: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.age {
  color: hsl(0, 0%, 59%);
}

.card-header {
  padding: 0;
}

.footer-stats {
  color: hsl(229, 23%, 23%);
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  width: 90px;
}

.victor-image {
  border: 5px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  position: relative;
  bottom: 75px;
}

/********** Media Query Breakpoint **********/

/* @media screen and (max-width: 800px) {

  #container {
    background: white;
  } */

  /* .title-image {
    position: static;
    transform: rotate(0deg);
  }
} */

@media screen and (max-width: 1000px){
  #top-left-corner {
    display: inline-block;
    position: absolute;
    top: -550px;
    left: -700px;
  }

  #bottom-right-corner {
    display: inline-block;
    position: absolute;
    right: -650px;
    bottom: -600px;
  }

}
