/********** Global variables **********/

:root {
  --cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --grey-blue: hsl(227, 10%, 46%);
  --grey: hsl(0, 0%, 59%);
}

/********** Global properties setting **********/

body {
  background-color: var(--cyan);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Kumbh Sans', sans-serif;
}

/********** Classes **********/

/* Main containter */

.wrapper {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
  justify-content: center;
  align-items: center;
  /* background: var(--cyan); */
}

/* Top-left-corner container 0 img */

.top-left-corner {
  display: inline-block;
  position: absolute;
  top: -500px;
  left: -250px;
}

/* Bottom-right-container - img */

.bottom-right-corner {
  display: inline-block;
  position: absolute;
  right: -200px;
  bottom: -600px;
}


/* Bootstrap card  - profile card */

.profile-card {
  border-radius: 20px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  height: 375px;
  width: 350px;
}

.footer-stats {
  /* color: hsl(229, 23%, 23%); */
  color: var(--dark-blue);
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  width: 90px;
}

.footer-text{
  font-size: 10px;
  font-weight: 400;
  /* color: hsl(0, 0%, 59%); */
  color: var(--grey);
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.victor-image {
  border: 5px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  position: relative;
  bottom: 75px;
}



.location {
  font-size: 12px;
  font-weight: 400;
  /* color: hsl(0, 0%, 59%); */
  color: var(--grey);
  /* padding-top: 8px; */
  text-align: center;
  position: relative;
  bottom: 70px;
}



.profile-name {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  position: relative;
  bottom: 60px;
}


.age {
  /* color: hsl(0, 0%, 59%); */
  color: var(--grey);
}




/********** Media Query Breakpoint **********/


@media screen and (max-width: 1050px){
  .top-left-corner {
    display: inline-block;
    position: absolute;
    top: -550px;
    left: -700px;
  }

  .bottom-right-corner {
    display: inline-block;
    position: absolute;
    right: -650px;
    bottom: -600px;
  }

}
